body {
    background-color: white;
    color:rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 10px auto;
    font-weight: normal;
    line-height: 1.5;
    overflow-x: hidden;
    max-width: 800px;
}

h1{text-align: center;}


    .custos{
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        opacity: 70%;

    }



    
}